body {
    background-color: #033b74;
    font-family: 'Raleway', sans-serif;
  }
  
  
  .navigation ul {
    margin: 20px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .navigation li {
    font-weight: 200;
    letter-spacing: .2rem;
    color:  lightgray;
    display:inline;
    padding: 10px 40px;

  }
  
  .navigation  li.logo {
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
  .navigation a {
    color:  white;
    text-decoration: none;
  }

  .navigation a:hover{
    color:  white;
    font-weight:    800;
    text-decoration: none;
  }

  #banner {
    background-image: url("https://photos.app.goo.gl/6jq3tZjbSHpa2fCfA")
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    opacity: 0.75;
    border-radius: 5px;
  }

  #banner .content  {
    border: 4px solid black;
    background: rgba(255, 255, 255, 0.3);
    min-width: 400px;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    top: 50px;
    margin: 0 auto;
  }

  #banner .content h1 {
    color: rgb(24, 18, 18);
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-style: bold;
  }
  
  #main {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 50%;  
    height: 500px; 
    overflow: scroll;
  }
  
  h1 {
    color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
  }
  
  h2 {
    border: 1px dotted red;
    color: red;
    font-size: 14px;
    line-height: 48px;
    padding: 20px 30px;
    margin: 30px 20px;
    text-align: center;
  }
  
  h3 {
    color: red;
    font-size: 26px;
    font-weight: 700;
    padding: 20px 10px;
  }
  
  p {
    color: lightgrey;
    font-size: 16px;
    line-height: 48px;
    margin-top: 60px;
    font-weight: 200;
    border-left: dotted 3px lightblue;
    text-align: left;
    padding-left: 5px;
  }
  
  .pull-quote {
    margin: 0 auto;
    width: 400px;
  }
  
  .byline {
    border-bottom: 1px solid grey;
    border-top: 1px solid gray;
    color: lightgray;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;

  }
  
  .share {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .share a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
  }
  
  .share a:hover {
    background: white;
    border: 1px solid red;
    color: red;
  }